# Assignment Two
Michael Ruddy

## HW2
- Michael Ruddy

## Question 1

In [2]:
x <- 7; y <- 2
x * y

[1] 14

I received this output because 7 times 2 is the same as 7 plus 7 which is 14 by the following facts:
- 1+1+1+1+1+1+1 = 7
- 1+1+1+1+1+1+1+1+1+1+1+1+1+1 = 7+7

##  #2

In [3]:
# sanity check to verify that the square root of x squared is equal to the absolute value of x
x <- -3
y <- x**2
sqrt(y)
abs(x)

# compute the absolute value of the alternating sum of the first 10 Fibonacci numbers
abs(0 - 1 + 1 - 2 + 3 - 5 + 8 - 13 + 21 - 34)

[1] 3

[1] 3

[1] 22

- Should these two blocks of code be in different cells? Why or why not?
- Why ```abs(0 - 1 + 1 - 2 + 3 - 5 + 8 - 13 + 21 - 34)``` instead of ```abs(0-1+1-2+3-5+8-13+21-34)```?

In [12]:
# load packages in the tidyverse library
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## In-class activity
1. Download this Jupyter notebook from canvas and open it
2. Create a new Jupyter notebook
3. Make a nice header for your notebook using Markdown
4. Do the following to practice assigning variables
 * Assign numerical values to 3 different variables; run a few basic numerical computations
 * Use ```ls()``` to check that these are in your working memory
 * restart the kernel and run ```ls()``` again
5. Play with the ```seq``` command
 * Run ```?seq``` and read the help file
 * Try different inputs to get a feel for what it does
 * Use the ```seq``` command to create the sequence: (1, 1.5, 2, 2.5, 3, 3.5)
 * Take the arguments you used and assign them to variables. Create the sequence using these variables.
6. Run the command ```library(tidyverse)``` and observe the output.
7. Save what you've done as a .pdf file on your computer (including the output)