In [1]:
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.0.6     ✔ dplyr   1.0.4
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

- What are the primary and foreign keys in the two tables below?
- Show that they are keys!

In [2]:
# US panda births
us_born_pandas = read_csv("data/us_born_pandas.csv")

# Current pandas in the United States
us_current_pandas = read_csv("data/us_current_pandas.csv")

── Column specification ────────────────────────────────────────────────────────
cols(
  name = col_character(),
  birth_date = col_character(),
  birth_location = col_character()
)



── Column specification ────────────────────────────────────────────────────────
cols(
  name = col_character(),
  location = col_character(),
  sex = col_character()
)

In [3]:
us_born_pandas
us_current_pandas

   name       birth_date birth_location
1  Hua Mei    8/21/99    San Diego Zoo
2  Mei Sheng  8/19/03    San Diego Zoo
3  Su Lin     8/2/05     San Diego Zoo
4  Yun Zi     8/5/09     San Diego Zoo
5  Zhen Zhen  8/3/07     San Diego Zoo
6  Xiao Liwu  7/29/12    San Diego Zoo
7  Mei Lan    9/6/06     Atlanta Zoo
8  Xi Lan     8/30/08    Atlanta Zoo
9  Po         10/3/10    Atlanta Zoo
10 Mei Lun    7/15/13    Atlanta Zoo
11 Mei Huan   7/15/13    Atlanta Zoo
12 Tai Shan   7/9/05     Smithsonian National Zoo
13 Bao Bao    8/23/13    Smithsonian National Zoo
14 Bei Bei    8/22/15    Smithsonian National Zoo
15 Xiao Qi Ji 8/21/20    Smithsonian National Zoo

  name       location                 sex
1 Le Le      Memphis Zoo              male
2 Ya Ya      Memphis Zoo              female
3 Lun Lun    Atlanta Zoo              female
4 Mei Lan    Atlanta Zoo              male
5 Yang Yang  Atlanta Zoo              male
6 Tian Tian  Smithsonian National Zoo male
7 Mei Xiang  Smithsonian National Zoo female
8 Xiao Qi Ji Smithsonian National Zoo male

In [ ]:
# a proof that name is a primary key
us_current_pandas %>%
    count(name)

us_born_pandas %>%
    count(name)

### Inner Join

Observations are matched whenever the keys are equal

![](https://d33wubrfki0l68.cloudfront.net/3abea0b730526c3f053a3838953c35a0ccbe8980/7f29b/diagrams/join-inner.png)

Before we inner join the two datasets, answer the following:
- How many observations in the resulting dataset?
- How many variables in the resulting dataset?
- Will there be missing values? If so, where?
- How would you describe the resulting dataset in words?

In [4]:
inner_join(us_current_pandas, us_born_pandas, by = "name")

  name       location                 sex  birth_date birth_location
1 Mei Lan    Atlanta Zoo              male 9/6/06     Atlanta Zoo
2 Xiao Qi Ji Smithsonian National Zoo male 8/21/20    Smithsonian National Zoo

In [5]:
# if we don't specify a key, inner_join will use all shared variable names
inner_join(us_current_pandas, us_born_pandas)

Joining, by = "name"

  name       location                 sex  birth_date birth_location
1 Mei Lan    Atlanta Zoo              male 9/6/06     Atlanta Zoo
2 Xiao Qi Ji Smithsonian National Zoo male 8/21/20    Smithsonian National Zoo

In [6]:
# we can also use the pipe
# (pipe always uses the previous result as the first argument of the next line)
us_current_pandas %>%
    inner_join(us_born_pandas, by = "name")

  name       location                 sex  birth_date birth_location
1 Mei Lan    Atlanta Zoo              male 9/6/06     Atlanta Zoo
2 Xiao Qi Ji Smithsonian National Zoo male 8/21/20    Smithsonian National Zoo

In [7]:
# what if the datasets share more than variable?
(us_born_pandas2 = read_csv("data/us_born_pandas2.csv"))

── Column specification ────────────────────────────────────────────────────────
cols(
  name = col_character(),
  birth_date = col_character(),
  birth_location = col_character(),
  sex = col_character()
)

   name       birth_date birth_location           sex
1  Hua Mei    8/21/99    San Diego Zoo            female
2  Mei Sheng  8/19/03    San Diego Zoo            female
3  Su Lin     8/2/05     San Diego Zoo            female
4  Yun Zi     8/5/09     San Diego Zoo            male
5  Zhen Zhen  8/3/07     San Diego Zoo            female
6  Xiao Liwu  7/29/12    San Diego Zoo            male
7  Mei Lan    9/6/06     Atlanta Zoo              male
8  Xi Lan     8/30/08    Atlanta Zoo              male
9  Po         10/3/10    Atlanta Zoo              female
10 Mei Lun    7/15/13    Atlanta Zoo              female
11 Mei Huan   7/15/13    Atlanta Zoo              female
12 Tai Shan   7/9/05     Smithsonian National Zoo male
13 Bao Bao    8/23/13    Smithsonian National Zoo female
14 Bei Bei    8/22/15    Smithsonian National Zoo male
15 Xiao Qi Ji 8/21/20    Smithsonian National Zoo male

In [8]:
inner_join(us_current_pandas, us_born_pandas2, by = "name")

  name       location                 sex.x birth_date birth_location
1 Mei Lan    Atlanta Zoo              male  9/6/06     Atlanta Zoo
2 Xiao Qi Ji Smithsonian National Zoo male  8/21/20    Smithsonian National Zoo
  sex.y
1 male
2 male

- Since we are just joining along one variable (```name```), we treat the variables ```us_born_pandas2$sex``` and ```us_current_pandas$sex``` as two distinct variables when joining
- If a variable (or variable group) is a primary key, then so is any variable group containing that variable (or variable group)
 * Think about why this is true!
- Join the two datasets along all shared variables using two different, distinct blocks of code.

In [9]:
inner_join(us_current_pandas, us_born_pandas2, by = c("name", "sex"))

  name       location                 sex  birth_date birth_location
1 Mei Lan    Atlanta Zoo              male 9/6/06     Atlanta Zoo
2 Xiao Qi Ji Smithsonian National Zoo male 8/21/20    Smithsonian National Zoo

In [10]:
inner_join(us_current_pandas, us_born_pandas2)

Joining, by = c("name", "sex")

  name       location                 sex  birth_date birth_location
1 Mei Lan    Atlanta Zoo              male 9/6/06     Atlanta Zoo
2 Xiao Qi Ji Smithsonian National Zoo male 8/21/20    Smithsonian National Zoo

In [11]:
# let's make things a little messier...
(us_current_pandas2 <- rename(us_current_pandas, panda_name = name, sex_of_panda = sex))

  panda_name location                 sex_of_panda
1 Le Le      Memphis Zoo              male
2 Ya Ya      Memphis Zoo              female
3 Lun Lun    Atlanta Zoo              female
4 Mei Lan    Atlanta Zoo              male
5 Yang Yang  Atlanta Zoo              male
6 Tian Tian  Smithsonian National Zoo male
7 Mei Xiang  Smithsonian National Zoo female
8 Xiao Qi Ji Smithsonian National Zoo male

In [12]:
# if the names of the variables aren't exactly the same, we have to specify this
inner_join(us_born_pandas2, us_current_pandas2, by = c("name" = "panda_name", "sex" = "sex_of_panda"))

  name       birth_date birth_location           sex  location
1 Mei Lan    9/6/06     Atlanta Zoo              male Atlanta Zoo
2 Xiao Qi Ji 8/21/20    Smithsonian National Zoo male Smithsonian National Zoo

In [ ]:
# why doesn't the following code work?!
inner_join(us_born_pandas2, us_current_pandas2, by = c("panda_name" = "name", "sex_of_panda" = "sex"))

Attempt
- Use the ```summarize()``` and ```filter()``` commands on the ```flights``` dataset to get a dataset called ```avg_delay_hour``` containing the mean departure delay each hour of the year for flights whose ```origin``` is JFK.
 * Hint: First filter by flights with whose ```origin``` is JFK. The variables in the resulting dataset should be mean_delay, year, month, day, and hour
 * Is there a primary key?
- Use the ```weather``` dataset as a starting point to get a dataset called ```JFK_weather``` representing the weather at every hour at JFK airport.
 * Is there a primary key?
- Think about how you might join ```avg_delay_hour``` and ```JFK_weather``` to a new dataset ```weather_and_delay```
 * What would be a good primary key for weather in this scenario?
 * How many rows are in ```avg_delay_hour```, ```JFK_weather```, and ```weather_and_delay```? What happened?

In [13]:
avg_delay_hour <- flights %>%
    filter(origin == "JFK") %>%
    group_by(year, month, day, hour) %>%
    summarize(mean_delay = mean(dep_delay, na.rm = TRUE)) %>%
    print()

`summarise()` has grouped output by 'year', 'month', 'day'. You can override using the `.groups` argument.

# A tibble: 6,935 x 5
# Groups:   year, month, day [365]
    year month   day  hour mean_delay
   <int> <int> <int> <dbl>      <dbl>
 1  2013     1     1     5      0.333
 2  2013     1     1     6     -1.06
 3  2013     1     1     7      4.12
 4  2013     1     1     8      1.09
 5  2013     1     1     9      3.67
 6  2013     1     1    10     -2
 7  2013     1     1    11      8.33
 8  2013     1     1    12      6
 9  2013     1     1    13     25.9
10  2013     1     1    14      9.19
# … with 6,925 more rows

In [15]:
JFK_weather <- weather %>%
    filter(origin == "JFK") %>%
    print(width = Inf)

# A tibble: 8,706 x 15
   origin  year month   day  hour  temp  dewp humid wind_dir wind_speed
   <chr>  <int> <int> <int> <int> <dbl> <dbl> <dbl>    <dbl>      <dbl>
 1 JFK     2013     1     1     1  39.0  26.1  59.4      260       12.7
 2 JFK     2013     1     1     2  39.0  26.1  59.4      270       11.5
 3 JFK     2013     1     1     3  39.9  27.0  59.5      260       15.0
 4 JFK     2013     1     1     4  39.9  28.0  62.2      250       17.3
 5 JFK     2013     1     1     5  39.0  27.0  61.6      260       15.0
 6 JFK     2013     1     1     6  37.9  27.0  64.3      260       13.8
 7 JFK     2013     1     1     7  39.0  28.0  64.4      260       13.8
 8 JFK     2013     1     1     8  39.9  27.0  59.5      260       17.3
 9 JFK     2013     1     1     9  39.9  27.0  59.5      260       16.1
10 JFK     2013     1     1    10  41    28.0  59.6      260       16.1
   wind_gust precip pressure visib time_hour
       <dbl>  <dbl>    <dbl> <dbl> <dttm>
 1        NA      0    1013.    10 2013-01-01 01:00:00
 2        NA      0    1012.    10 2013-01-01 02:00:00
 3        NA      0    1013.    10 2013-01-01 03:00:00
 4        NA      0    1013.    10 2013-01-01 04:00:00
 5        NA      0    1012.    10 2013-01-01 05:00:00
 6        NA      0    1013.    10 2013-01-01 06:00:00
 7        NA      0    1012.    10 2013-01-01 07:00:00
 8        NA      0    1013.    10 2013-01-01 08:00:00
 9        NA      0    1013     10 2013-01-01 09:00:00
10        NA      0    1013.    10 2013-01-01 10:00:00
# … with 8,696 more rows

In [18]:
inner_join(JFK_weather, avg_delay_hour, by = c("year", "month", "day", "hour"))

     origin year month day hour temp  dewp  humid wind_dir wind_speed wind_gust
1    JFK    2013 1     1    5   39.02 26.96 61.63 260      14.96014         NA
2    JFK    2013 1     1    6   37.94 26.96 64.29 260      13.80936         NA
3    JFK    2013 1     1    7   39.02 28.04 64.43 260      13.80936         NA
4    JFK    2013 1     1    8   39.92 26.96 59.50 260      17.26170         NA
5    JFK    2013 1     1    9   39.92 26.96 59.50 260      16.11092         NA
6    JFK    2013 1     1   10   41.00 28.04 59.65 260      16.11092         NA
7    JFK    2013 1     1   11   41.00 26.96 57.06 270      14.96014         NA
8    JFK    2013 1     1   13   37.94 26.60 64.70 340      14.96014         NA
9    JFK    2013 1     1   14   39.02 24.08 54.68 310      11.50780         NA
10   JFK    2013 1     1   15   39.02 23.00 52.26 290      12.65858         NA
11   JFK    2013 1     1   16   37.94 17.96 44.00 320      17.26170   24.16638
12   JFK    2013 1     1   17   37.04 17.06 43.85 330      16.11092   25.31716
13   JFK    2013 1     1   18   35.06 14.00 41.51 310      14.96014         NA
14   JFK    2013 1     1   19   33.08 14.00 44.92 350      13.80936   24.16638
15   JFK    2013 1     1   20   32.00 14.00 46.92 330      16.11092         NA
16   JFK    2013 1     1   21   30.02 10.94 44.41 330      21.86482   29.92028
17   JFK    2013 1     1   22   28.94 10.94 46.41 320      16.11092         NA
18   JFK    2013 1     1   23   26.96  8.06 44.25 320      20.71404   35.67418
19   JFK    2013 1     2    5   23.00  8.96 54.34 350      11.50780         NA
20   JFK    2013 1     2    6   23.00  8.96 54.34 340       9.20624         NA
21   JFK    2013 1     2    7   23.00  8.96 54.34 340      10.35702         NA
22   JFK    2013 1     2    8   24.98  8.06 48.03 320      12.65858         NA
23   JFK    2013 1     2    9   26.96  8.06 44.25 310      12.65858         NA
24   JFK    2013 1     2   10   28.94  8.96 42.48 300      13.80936   18.41248
25   JFK    2013 1     2   11   30.02 10.04 42.66 300      20.71404   25.31716
26   JFK    2013 1     2   12   30.92 10.04 41.13 310      14.96014   24.16638
27   JFK    2013 1     2   13   33.08 10.94 39.25 310      16.11092         NA
28   JFK    2013 1     2   14   35.06 10.94 36.26 300      13.80936   21.86482
29   JFK    2013 1     2   15   33.98 10.04 36.37 320      19.56326   25.31716
30   JFK    2013 1     2   16   32.00 10.94 40.99 310      16.11092         NA
⋮    ⋮      ⋮    ⋮     ⋮   ⋮    ⋮     ⋮     ⋮     ⋮        ⋮          ⋮
6866 JFK    2013 12    29   8   44.06 33.08 65.07 210       5.75390         NA
6867 JFK    2013 12    29   9   44.96 32.00 60.20 210       5.75390         NA
6868 JFK    2013 12    29  10   44.96 37.04 73.59  90       3.45234         NA
6869 JFK    2013 12    29  11   44.06 37.94 78.91 100       3.45234         NA
6870 JFK    2013 12    29  12   42.98 39.92 88.85  90       8.05546         NA
6871 JFK    2013 12    29  13   44.06 41.00 93.30  80      11.50780         NA
6872 JFK    2013 12    29  14   44.96 42.98 93.35  80      16.11092         NA
6873 JFK    2013 12    29  15   46.04 44.06 92.75  80      18.41248   33.37262
6874 JFK    2013 12    29  16   48.02 46.04 92.81  90       8.05546         NA
6875 JFK    2013 12    29  17   48.92 48.02 96.69  60       6.90468         NA
6876 JFK    2013 12    29  18   46.40 44.60 93.40 320      18.41248         NA
6877 JFK    2013 12    29  19   42.98 39.92 88.85 310      18.41248         NA
6878 JFK    2013 12    29  20   42.98 39.20 86.99 310      23.01560   28.76950
6879 JFK    2013 12    29  21   44.60 39.20 86.99 310      19.56326         NA
6880 JFK    2013 12    29  22   44.06 37.94 78.91 270      10.35702         NA
6881 JFK    2013 12    29  23   44.06 35.96 72.98 290      16.11092   25.31716
6882 JFK    2013 12    30   5   37.94 33.98 85.49 230      10.35702         NA
6883 JFK    2013 12    30   6   41.00 37.04 85.67 260       9.20624         NA
6884 JFK    2013 12    30   7   42.08 37.04 82.17 260       9.20624         NA
6885 JFK    2013 12    30   8   42.98 37.04 79.38 260      10.35702         NA
6886 JFK    2013 12    30   9   46.04 35.96 67.69 280      12.65858         NA
6887 JFK    2013 12    30  10   46.94 35.06 63.13 270      16.11092         NA
6888 JFK    2013 12    30  11   42.98 30.92 62.16 330      18.41248         NA
6889 JFK    2013 12    30  12   39.92 26.06 57.33 320      17.26170         NA
6890 JFK    2013 12    30  13   39.02 23.00 52.26 330      17.26170   25.31716
6891 JFK    2013 12    30  14   37.94 21.02 50.14 330      16.11092   24.16638
6892 JFK    2013 12    30  15   35.96 17.96 47.57 340      17.26170   25.31716
6893 JFK    2013 12    30  16   33.98 15.98 47.25 330      19.56326   27.61872
6894 JFK    2013 12    30  17   32.00 12.92 44.74 320      13.80936         NA
6895 JFK    2013 12    30  18   30.02 10.04 42.66 340      18.41248         NA
     precip pressure visib time_hour           mean_delay
1    0      1012.1   10    2013-01-01 05:00:00  0.3333333
2    0      1012.6   10    2013-01-01 06:00:00 -1.0625000
3    0      1012.5   10    2013-01-01 07:00:00  4.1250000
4    0      1012.6   10    2013-01-01 08:00:00  1.0869565
5    0      1013.0   10    2013-01-01 09:00:00  3.6666667
6    0      1012.8   10    2013-01-01 10:00:00 -2.0000000
7    0      1011.7   10    2013-01-01 11:00:00  8.3333333
8    0          NA   10    2013-01-01 13:00:00 25.9166667
9    0      1011.2   10    2013-01-01 14:00:00  9.1875000
10   0      1011.7   10    2013-01-01 15:00:00  6.2692308
11   0      1012.1   10    2013-01-01 16:00:00 10.6363636
12   0      1013.2   10    2013-01-01 17:00:00 29.5000000
13   0      1014.2   10    2013-01-01 18:00:00 41.4230769
14   0      1014.3   10    2013-01-01 19:00:00 13.5909091
15   0      1015.1   10    2013-01-01 20:00:00  3.1764706
16   0      1015.3   10    2013-01-01 21:00:00 21.8333333
17   0      1016.4   10    2013-01-01 22:00:00 10.4285714
18   0      1016.5   10    2013-01-01 23:00:00 -5.0000000
19   0      1017.1   10    2013-01-02 05:00:00 -5.5000000
20   0      1017.2   10    2013-01-02 06:00:00  2.6111111
21   0      1017.7   10    2013-01-02 07:00:00 -1.6842105
22   0      1018.4   10    2013-01-02 08:00:00  5.9677419
23   0      1019.0   10    2013-01-02 09:00:00  9.4736842
24   0      1018.6   10    2013-01-02 10:00:00 36.0000000
25   0      1017.8   10    2013-01-02 11:00:00 -1.8000000
26   0      1016.6   10    2013-01-02 12:00:00  4.4705882
27   0      1017.2   10    2013-01-02 13:00:00 -0.6666667
28   0      1017.5   10    2013-01-02 14:00:00 14.5882353
29   0      1018.3   10    2013-01-02 15:00:00  5.1481481
30   0      1018.8   10    2013-01-02 16:00:00  9.4615385
⋮    ⋮      ⋮        ⋮     ⋮                   ⋮
6866 0.00   1017.4   10.0  2013-12-29 08:00:00 -2.0666667
6867 0.00   1017.0   10.0  2013-12-29 09:00:00  0.6470588
6868 0.02   1014.0   10.0  2013-12-29 10:00:00  4.7272727
6869 0.02   1012.6    7.0  2013-12-29 11:00:00  3.5000000
6870 0.10   1009.8    5.0  2013-12-29 12:00:00  4.3571429
6871 0.17       NA    5.0  2013-12-29 13:00:00 31.8750000
6872 0.21       NA    2.5  2013-12-29 14:00:00 22.4117647
6873 0.34    999.5    2.5  2013-12-29 15:00:00 20.9000000
6874 0.27    997.5    2.0  2013-12-29 16:00:00 28.5000000
6875 0.05       NA    5.0  2013-12-29 17:00:00 75.2916667
6876 0.00       NA    5.0  2013-12-29 18:00:00 48.8636364
6877 0.00    999.0    9.0  2013-12-29 19:00:00 48.9130435
6878 0.00       NA   10.0  2013-12-29 20:00:00 46.0500000
6879 0.00       NA   10.0  2013-12-29 21:00:00 40.3333333
6880 0.00   1004.2   10.0  2013-12-29 22:00:00 43.7777778
6881 0.00   1005.3   10.0  2013-12-29 23:00:00  0.0000000
6882 0.00   1010.1   10.0  2013-12-30 05:00:00 71.5000000
6883 0.00   1011.4   10.0  2013-12-30 06:00:00 -1.8750000
6884 0.00   1012.4   10.0  2013-12-30 07:00:00  3.8695652
6885 0.00   1013.4   10.0  2013-12-30 08:00:00 -1.8666667
6886 0.00   1014.2   10.0  2013-12-30 09:00:00  4.6111111
6887 0.00   1014.6   10.0  2013-12-30 10:00:00  7.1538462
6888 0.00   1014.9   10.0  2013-12-30 11:00:00 -2.4000000
6889 0.00   1015.5   10.0  2013-12-30 12:00:00  1.0000000
6890 0.00   1016.4   10.0  2013-12-30 13:00:00 16.4666667
6891 0.00   1017.4   10.0  2013-12-30 14:00:00 10.0000000
6892 0.00   1018.7   10.0  2013-12-30 15:00:00  9.3157895
6893 0.00   1019.5   10.0  2013-12-30 16:00:00  8.5600000
6894 0.00   1020.1   10.0  2013-12-30 17:00:00 20.1200000
6895 0.00   1020.9   10.0  2013-12-30 18:00:00  7.8636364